# Monorepo root .gitignore

# Dependencies
node_modules/
**/node_modules/

# Production/Build outputs
dist/
build/
web-build/
**/dist/
**/build/
**/web-build/

# Expo / Metro
.expo/
**/.expo/
.metro-health-check*
**/.metro-health-check*
expo-env.d.ts
**/expo-env.d.ts

# Native folders / IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Native mobile
/android
/ios
**/android/
**/ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# local env files
.env*.local
.env
**/.env
**/.env*.local

# Python / Django
.venv/
venv/
**/__pycache__/
*.pyc
db.sqlite3
